@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

@font-face {
  src: url(../Fonts/NotoSerifSC-Medium.otf) format("opentype");
  font-family: "gwgz-serif";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
