.calibre {
  font-family: "Noto Serif TC Medium", "Noto Serif TC", serif;
  font-size: 110%;
  line-height: 1.3;
  padding-left: 0;
  padding-right: 0;
  line-break: auto;
  text-align: left;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;
  -webkit-margin-start: 1.5em;
  -webkit-margin-end: 0.8em;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-line-break: auto;

}
.calibre1 {
  display: block;
}
.calibre2 {
  display: block;
  font-size: 1.29167em;
  line-height: 1.618em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre3 {
  color: #00C;
}
.calibre4 {
  display: block;
  line-height: 1.2;
}
.calibre5 {
  display: block;
  text-indent: 2em;
  /*margin: 1em 0;*/
}
.calibre6 {
  text-decoration: none;
}
.calibre7 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre8 {
  height: 0.1em;
  width: auto;
}
.calibre9 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre10 {
  font-size: 0.91667em;
  line-height: normal;
  vertical-align: super;
}
.calibre11 {
  font-size: 0.9em;
  line-height: normal;
  vertical-align: super;
}
.chapter {
  display: block;
  text-align: justify;
}
.kindle-cn-heading {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: center;
  margin: 0.67em 0;
  padding: 0.75em 0;
  border-top: #c7c7c7 dashed 2px;
  border-bottom: #c7c7c7 dashed 2px;
}
.kindle-cn-heading1 {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.1em;
  text-align: center;
  margin: 0.67em 0;
  padding: 0.75em 0;
  border-bottom: #c7c7c7 dashed 2px;
}
.kindle-cn-inline-character {
  height: auto;
  margin-top: -0.5em;
  vertical-align: middle;
  width: 1.1em;
}
.kindle-cn-inline-character1 {
  height: auto;
  margin-top: -0.2em;
  vertical-align: middle;
  width: 1em;
}
.kindle-cn-inline-character2 {
  height: auto;
  line-height: 1.2;
  margin-top: -0.2em;
  vertical-align: middle;
  width: 1em;
}
.kindle-cn-para-center {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
}
.kindle-cn-para-left {
  color: #069;
  font-size: 85%;
  display: block;
  text-indent: 2em;
}
.kindle-cn-para-left-1 {
  display: block;
  text-align: justify;
  text-indent: 2em;
  margin: 1em 0;
}
.kindle-cn-signature {
  display: block;
  text-align: right;
  text-indent: 2em;
  margin: 1em 0;
}
.kindle-cn-toc-level {
  display: block;
  margin-left: 0;
}
.kindle-cn-toc-level1 {
  display: block;
  margin-left: 2em;
}
.kindle-cn-toc-title {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  letter-spacing: 1em;
  line-height: 1.2;
  text-align: center;
  margin: 0.67em 0 0.5em;
  border-bottom: #000 dotted 1.5px;
}
.math-super {
  font-size: 0.64516em;
  vertical-align: super;
}
.small {
  font-size: 0.77419em;
}
.small1 {
  font-size: 1em;
}
.zhu {
  color: #069;
  font-size: 85%;
  text-align: justify;
  margin: 0;
}
.lcx_zhu {
  color: #966;
  text-align: justify;
  margin: 0;
}
.title {
  display: block;
  line-height: 120%;
  font-size: large;
  margin: 1em 0 0.5em 1.5em;
}
.juan {
  display: block;
  font-size: x-large;
  line-height: 110%;
  margin: 1em 0 0 0;
}
.lcx_jiao {
  color: #966;
  float: right;
  margin-right: 0%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

